<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140948161391-v87894stgokja99tg1ojt96gciqralul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140948161391-v87894stgokja99tg1ojt96gciqralul</string>
	<key>API_KEY</key>
	<string>AIzaSyDlp_kfEAtr-gbVC5Ckd8qQnmHnx8DQWFw</string>
	<key>GCM_SENDER_ID</key>
	<string>140948161391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postApp</string>
	<key>PROJECT_ID</key>
	<string>postapp-4dd26</string>
	<key>STORAGE_BUCKET</key>
	<string>postapp-4dd26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140948161391:ios:20ee8adedc0ad84ef9de9a</string>
</dict>
</plist>